= simple_form_for(@death) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :character_id, value: @character.id
    = f.hidden_field :chapter_id, value: @character.chapter_id
    = f.input :buyback, :label => 'Buyback?'
    = f.input :regen_css, :label => 'Regen/CSS?'

    = f.button :submit, 'Add Death'
