%h1= "Death Tracking for #{@character.name}"
-if @chapter
  - path = edit_chapter_character_path(@chapter.id, @character.id)
-else 
  - path = edit_character_path(@character.id)
%ul.nav.nav-tabs
  %li= link_to 'Back', path, class: "btn"

.span3
  - @calc_deaths = Death.buyback(@deaths)
  %h3= "Deaths Bought Back: #{@calc_deaths.count}"
  = render 'death_table'

.span3
  - @calc_deaths = Death.regular(@deaths)
  %h3= "Regular Deaths: #{@calc_deaths.count}"
  = render 'death_table'

.span3
  - @calc_deaths = Death.regen_css(@deaths)
  %h3= "Deaths Regen/CSS: #{@calc_deaths.count}"
  = render 'death_table'
