%p#notice= notice

%p
  %b Character:
  = @death.character_id
%p
  %b Chapter:
  = @death.chapter_id
%p
  %b Regen css:
  = @death.regen_css
%p
  %b Buyback:
  = @death.buyback

= link_to 'Edit', edit_death_path(@death)
\|
= link_to 'Back', deaths_path
