%p#notice= notice

%p
  %b Character:
  = @assignment.user_id
%p
  %b Role:
  = @assignment.role_id
%p
  %b Chapter:
  = @assignment.chapter_id

= link_to 'Edit', edit_assignment_path(@assignment)
\|
= link_to 'Back', assignments_path
