%table.table.table-striped
  %tr
    %th.srt= sort_link @search, :first_name, 'First'
    %th.srt= sort_link @search, :last_name,  'Last'
    %th.srt= sort_link @search, :email,      'Email'
    %th Goblin Stamps
    %th.ln Total
    %th New Character
    %th Characters
    
  - @users.each do |user|
    - characters = Character.find_all_by_user_id(user.id)
    -if @chapter
      - member = Member.find_by_user_id_and_chapter_id(user.id,@chapter.id)
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= link_to 'Add/Remove', chapter_user_stamp_tracks_path(@chapter.id, user.id), class: 'btn'
      %td.ln= Member.find_by_user_id_and_chapter_id(user.id, @chapter.id).goblin_stamps
      %td= link_to 'New Character', new_chapter_user_character_path(@chapter.id,user.id)#, class: "btn btn-mini"
      %td
        - characters.each do |c|
          %ul.left= link_to c.name, edit_chapter_character_path(c.chapter, c)#, class: 'btn btn-mini'