- user_head = 'Edit: ' + @user.first_name + ' ' + @user.last_name
%h2= user_head
= render 'user_navbar'

.span3
  %h3 Account Details
  %p
  = render 'form'

  %p
  = link_to 'Change Password', edit_password_form_user_path(@user.id), class: "btn"

.span3
  %h3 Memberships
  %p
  = render 'current_memberships'

.span3
  %h3 Add Membership
  %p
  = render 'members/form'