= render 'navbar'
- user_head = @user.first_name + ' ' + @user.last_name
%h2= user_head

.span3
  %h3 Account Details
  %p
  = render 'form'

  %p
  = link_to 'Change Password', user_edit_password_form_path(@user.id), class: "btn", method: 'get'

.span3
  %h3 Add Chapter Association
  %p
  = render 'members/form'
  
.span5
  %h3 Chapter Associations
  %p
  = render 'members/table'
