= render 'user_navbar'
- user_head = @user.first_name + ' ' + @user.last_name
%h2= user_head

.span3
  %h3 Account Details
  %p
  = render 'form'

  %p
  = link_to 'Change Password', edit_password_form_user_path(@user.id), class: "btn"

.span6
  %h3 Memberships
  %p
  = render 'members/table'

.span3
  %h3 Add Membership
  %p
  = render 'members/form'