-if @chapter
  = render 'chapters/chapter_navbar'
  %p
-else
  = render 'admins/navbar'
  %h1 All Alliance Users
=search_form_for(@search) do |f|
  = f.condition_fields do |c|
    = render 'layouts/condition_fields', f: c
  -if @chapter
    = f.hidden_field :chapter_id, :value => @chapter.id
  = link_to_add_fields "Add Search Condition", f, :condition
  = f.submit 'Search', class: "btn"
  -if @chapter
    = link_to 'New Member', new_chapter_user_path(@chapter.id), class: "btn"

= will_paginate @users
-if @chapter
  = render 'chapter_user_table'
-else
  = render 'user_table'
= will_paginate @users
