%h1 Add Member Page

%ul.nav.nav-tabs
  %li= link_to 'Back', @chapter, class: "btn"

.form-horizontal
  = simple_form_for(@user) do |f|
    = f.error_notification

    .control-group
      = f.input :email, :required => true, :autofocus => true
      = f.input :first_name, :required => true
      = f.input :last_name, :required => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      = f.input :role_id, :collection => Role.all, :include_blank => false
      = f.hidden_field :chapter_id, value: @chapter.id
    .form-actions
      = f.button :submit, 'Add Member'