.error1=notice
- user_head = 'Home For: ' + @user.first_name + ' ' + @user.last_name
%h2= user_head
= render 'user_navbar'

%h2 Characters

= render 'characters/character_table'

%h2 National

%p
  Dragon stamps:
  = @user.dragon_stamps

%h2 Memberships

= render 'current_memberships'
