= render 'navbar'
- user_head = @user.first_name + ' ' + @user.last_name
%h2= user_head

.span12  
  %h2 Characters
  = render 'characters/table'

  %h2 Chapter Associations
  = render 'members/table'

  %h2 National
  %p
    Dragon stamps:
    = @user.dragon_stamps
  %br