.error1=notice
- user_head = 'Home For: ' + @user.first_name + ' ' + @user.last_name
%h2= user_head
= render 'user_navbar'

.span12
  %h2 National
  %p
    Dragon stamps:
    = @user.dragon_stamps
  %br
  
.span10
  %h2 Characters
  = render 'characters/character_table'

.span6
  %h2 Memberships
  = render 'members/table'
