%h1 Goblin Stamp Tracking

- if @chapter
  - path = chapter_users_path(@chapter.id)
- else
  - path = @user
%ul.nav.nav-tabs
  %li= link_to 'Back', path, class: "btn"

- if @chapter
  = render 'stamp_form'

%table.table.users-table
  %tr
    %th Current Total
    %th Amount Changed
    %th Start Goblins
    %th End Goblins
    %th Reason

  - @all_goblins.reverse.each do |goblin|
    %tr
      %td= goblin.end_stamps
      %td= goblin.end_stamps - goblin.start_stamps
      %td= goblin.start_stamps
      %td= goblin.end_stamps
      %td= goblin.reason