%h1 Goblin Stamp Tracking
- chapter = Chapter.find(session[:chapter_id_for_new_user])
%ul.nav.nav-tabs
  %li= link_to 'Back', chapter, class: "btn"

= render 'stamp_form'

%table.table.users-table
  %tr
    %th Amount Changed
    %th Start Goblins
    %th End Goblins
    %th Reason

  - @all_goblins.reverse.each do |goblin|
    %tr
      %td= goblin.end_stamps - goblin.start_stamps
      %td= goblin.start_stamps
      %td= goblin.end_stamps
      %td= goblin.reason