%h3 Listing Attendees
%p

%table.table.table-striped
  %tr
    %th Player Name
    %th PC/NPC
    %th Character
    %th Level
    %th Applied
    %th

  - (@attendees.sort_by! {|a| a.character.user.name}).each do |attendee|
    - character = attendee.character
    - user = character.user
    %tr
      %td= user.first_name + ' ' + user.last_name
      - if attendee.pc == true
        %td PC
      - else
        %td NPC
      %td= character.name
      %td= (character.build_points - 5) / 10
      %td= attendee.applied
      - if attendee.applied != true
        %td= link_to 'Apply Event', chapter_character_event_path(@event.chapter.id,character.id,@event.id), class: "btn", :method => :put
      - else
        %td= button_to 'Apply Event', attendee, class: "btn", :disabled => true
