
= simple_form_for(@attendee) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id, :label => 'Select a Member:', :collection => @users
    /= f.input :character_id, :collection => @characters
    = f.input :character_id, :collection => @users, :as => :grouped_select, :group_method => :all_characters_for_user, :group_label_method => :name, :label_method => :name, :value_method => :id, :include_blank => true
    = f.input :pc, :label => 'PC or NPC', :collection => {"NPC" => 0, "PC" => 1}, :include_blank => false
    %p
    = f.button :submit, "Attend Event"

