%h1 Listing attendees

%table
  %tr
    %th Character
    %th Event 
    %th Applied
    %th
    %th
    %th

  - @attendees.each do |attendee|
    %tr
      %td= attendee.character_id
      %td= attendee.event_id
      %td= attendee.applied
      %td= link_to 'Show', attendee
      %td= link_to 'Edit', edit_attendee_path(attendee)
      %td= link_to 'Destroy', attendee, :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

= link_to 'New attendee', new_attendee_path
