= render 'users/navbar'
%h2= @user.name + ': event blankets'

%p
%table.table.xp-table
  %tr
    %th Character
    %th Chapter
    %th Date
    %th Event Type
    %th Applied

  - @attendees.reverse.each do |attendee|
    - event = Event.find(attendee.event_id)
    %tr
      %td= Character.find(attendee.character_id).name
      %td= Chapter.find(event.chapter_id).name
      %td= event.date.to_s
      %td= EventType.find(event.event_type_id).name
      %td= attendee.applied
