%table.table.table-striped
  %tr
    %th Date
    %th Applied?
    %th

  - @goblin_events.reverse.each do |event|
    - chapter = Chapter.find(event.chapter_id)
    - event_type = EventType.find(event.event_type_id)
    -if !@old_blankets
      - if event.date.year == Time.now.year
        %tr
          %td= event.nice_date
          - if @chapter and !@user
            - if event.applied == true
              %td= button_to 'Applied - Yes', @event, class: "btn", :disabled => true
            - else
              %td= link_to 'Apply - No', chapter_event_path(@chapter.id,event.id), class: "btn", method: :put
          - if @chapter and !@user
            %td= link_to 'View Attendees', chapter_event_path(@chapter.id,event.id), class: "btn"
          - if @user
            %td= link_to 'Attend', user_event_path(@user.id,event.id), class: "btn"
    -else
      -if event.date.year != Time.now.year
        %tr
          %td= event.nice_date
          - if @chapter and !@user
            - if event.applied == true
              %td= button_to 'Applied - Yes', @event, class: "btn", :disabled => true
            - else
              %td= link_to 'Apply - No', chapter_event_path(@chapter.id,event.id), class: "btn", method: :put
          - if @chapter and !@user
            %td= link_to 'View Attendees', chapter_event_path(@chapter.id,event.id), class: "btn"
          - if @user
            %td= link_to 'Attend', user_event_path(@user.id,event.id), class: "btn"
