%table.table.table-striped
  %tr
    - unless @user
      %th.srt= sort_link @search, :name, 'Name'
    - if @chapter && !@user
      %th
    - unless @chapter or @user
      %th.srt= sort_link @search, :chapter_id, 'Chapter'
    %th.srt= sort_link @search, :event_type_id, 'Event Type'
    %th.srt= sort_link @search, :date, 'Date'
    %th Applied?
    - if @user
      %th

  - @events.reverse.each do |event|
    - chapter = Chapter.find(event.chapter_id)
    - event_type = EventType.find(event.event_type_id)
    - unless event_type.name == 'Goblin Blanket'
      %tr
        - if (@chapter and !@user) && (can? :update, @chapter)
          %td= link_to event.name, chapter_event_path(event.chapter.id,event.id)
        - elsif !@user && (can? :update, @chapter)
          %td= link_to event.name, event_path(event.id)
        - else
          %td= link_to event.name, user_event_path(@current_user.id,event.id)
        - unless @chapter or @user
          %td= chapter.name
        - if @chapter and !@user
          - if event.applied == true
            %td= button_to 'Apply Event', @event, class: "btn", :disabled => true
          - else
            %td= link_to 'Apply Event', chapter_event_path(@chapter.id,event.id), class: "btn", method: :put
        %td= EventType.find(event.event_type_id).name
        %td= event.date
        - if event.applied == true
          %td.ln Yes
        - else
          %td.ln No

