%table.table.xp-table
  %tr
    %th Chapter
    %th Name
    %th Event Type
    %th Date
    %th Applied?
    - if params[:chapter_id] && !params[:user_id]
      %th
      %th
    - if params[:user_id]
      %th

  - @events.reverse.each do |event|
    - chapter = Chapter.find(event.chapter_id)
    %tr
      %td= chapter.name
      %td= event.name
      %td= EventType.find(event.event_type_id).name
      %td= event.date
      - if event.applied == true
        %td.ln Yes
      - else
        %td.ln No
      - if params[:chapter_id] && !params[:user_id]
        - if event.applied == true
          %td= button_to 'Apply Event', @chapter, class: "btn", :disabled => true
        - else
          %td= link_to 'Apply Event', apply_event_path(event), class: "btn", method: :put
      - if !params[:user_id]
        %td= link_to 'View Attendees', event, class: "btn"
      - if params[:user_id]
        %td= link_to 'Attend', new_for_chapter_attendee_path(event.id), class: "btn"

