= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :date
    = f.input :event_type_id, :label => 'Event Type', :collection => EventType.all, :include_blank => false
    = f.hidden_field :chapter_id, value: @chapter.id

    = f.button :submit
