= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :date
    = f.input :xp_value
    = f.input :chapter_id, :input_html => { :value => session[:chapter_id_for_new_user]}

  .form-actions
    = f.button :submit
