.form-horizontal
  = simple_form_for(@event) do |f|
    = f.error_notification

    .control-group
      -if @new_blanket
      -else
        = f.input :name
      = f.input :date
      -if @new_blanket
        =f.hidden_field :event_type_id, value: @goblin_blanket
      -else
        = f.input :event_type_id, :label => 'Event Type', :collection => EventType.all, :include_blank => false
      = f.hidden_field :chapter_id, value: @chapter.id
    .form-actions
      = f.button :submit