/ -if @chapter
-if @chapter
  %h1= 'Events for ' + @chapter.name

  %ul.nav.nav-tabs
    -if @user
      %li= link_to 'Back', @user, class: "btn"
    -else
      = render 'chapters/chapter_navbar'

  -if @chapter && !@user
    = link_to 'New Event', new_event_path, class: "btn"
    %p

-else
  %h1 All Alliance Events
  %p#notice= notice

= render 'event_table'

