%h1 Event Details
%p#notice= notice

- if session[:chapter_id_for_new_user]
  - path = @chapter
- else
  - path = events_path
%ul.nav.nav-tabs
  %li= link_to 'Back', path, class: "btn"

%p
  %b Chapter:
  = @event.chapter_id
%p
  %b Xp value:
  = @event.xp_value
%p
  %b Date:
  = @event.date
%p
  %b Name:
  = @event.name

= link_to 'Edit', edit_event_path(@event)
