- if @user
  = render 'users/navbar'
  %h2= "Attend #{@event.chapter.name} event on #{@event.date.to_s} with:"

  = render 'attendees/form'

- else
  -if @chapter
    = render 'chapters/navbar'
  %h2 Event Details

  .span3
    %table.table
      %tr
        %th Name:
        %td= @event.name
      %tr
        %th Date:
        %td= @event.date
      %tr
        %th Chapter:
        %td= @event.chapter.name
      %tr
        %th Event Type:
        %td= @event_type.name
      %tr
        %th Applied?
        - if @event.applied != true
          %td false
        - else
          %td= @event.applied
      %tr
        %th Total Attendees
        %td= Attendee.where(event_id: @event.id).count
    = render 'attendees/form'
  .span8
    = render 'attendees/table'