-if @user
  %h1= "Attend " + @chapter.name + " event on " + @event.date.to_s + " with:"
  %ul.nav.nav-tabs
    %li= link_to 'Back', chapter_user_events_path(@chapter.id,@user.id), class: "btn"

  = render 'attendees/form'

-else
  %h1 Event Details

  - if @event_type.name == 'Goblin Blanket'
    - path = chapter_path(@chapter.id)
  - else
    - path = chapter_events_path(@chapter.id)
  %ul.nav.nav-tabs
    %li= link_to 'Back', path, class: "btn"

  .span3
    %table.table
      %tr
        %th Name:
        %td= @event.name
      %tr
        %th Date:
        %td= @event.date
      %tr
        %th Chapter:
        %td= Chapter.find(@event.chapter_id).name
      %tr
        %th Event Type:
        %td= @event_type.name
      %tr
        %th Applied?
        - if @event.applied != true
          %td false
        - else
          %td= @event.applied
    .span7
      %br
      %br
      = render 'attendees/event_attendees'

  .span3
    = render 'attendees/form'