%h1 Event Details
%p#notice= notice
%ul.nav.nav-tabs
  %li= link_to 'Back', @chapter, class: "btn"

%p
  %b Chapter:
  = @event.chapter_id
%p
  %b Xp value:
  = @event.xp_value
%p
  %b Date:
  = @event.date
%p
  %b Name:
  = @event.name

= link_to 'Edit', edit_event_path(@event)
