%h1 Event Details

- if session[:chapter_id_for_new_user]
  - path = chapter_events_path(@chapter.id)
- else
  - path = events_path
%ul.nav.nav-tabs
  %li= link_to 'Back', path, class: "btn"
%p#notice= notice

.span3
  %table.table
    %tr
      %th Name:
      %td= @event.name
    %tr
      %th Date:
      %td= @event.date
    %tr
      %th Chapter:
      %td= Chapter.find(@event.chapter_id).name
    %tr
      %th Event Type:
      %td= EventType.find(@event.event_type_id).name
    %tr
      %th Applied?
      - if @event.applied != true
        %td false
      - else
        %td= @event.applied

.span3
  = render 'attendees/new_attendee_from_chapter'

.span7
  = render 'attendees/event_attendees'