%table.table.users-table.xp-table
  %tr
    -#%th
    %th
    %th Player:
    %th Name: 
    %th Race:
    %th Class:
    %th Level:  
    -#%th
  /-debugger
  - @characters.each do |character|
    %tr
      -#%td= link_to 'Edit', edit_character_path(character), class: "btn"
      %td= link_to 'View', character_path(character), class: "btn"
      %td= User.find(character.user_id).name
      %td= character.name
      %td= Race.find_by_id(character.race_id).name if Race.find_by_id(character.race_id)
      %td= CharClass.find_by_id(character.char_class_id).name if Race.find_by_id(character.race_id)
      %td.ln= ((character.build_points - 5) / 10)
%br