%table.table.users-table.xp-table
  %tr
    %th.srt= sort_link @search, :name, 'Name:' 
    %th.srt= sort_link @search, :race_id, 'Race:'
    %th.srt= sort_link @search, :char_class_id, 'Class:'
    %th.srt= sort_link @search, :build_points, 'Level:'
    -unless @chapter
      %th.srt= sort_link @search, :home_chapter, 'Home Chapter:'
    %th Player:
    %th
    %th
    %th
  - @characters.each do |character|
    %tr
      %td= character.name
      %td= Race.find_by_id(character.race_id).name if Race.find_by_id(character.race_id)
      %td= CharClass.find_by_id(character.char_class_id).name if Race.find_by_id(character.race_id)
      %td.ln= ((character.build_points - 5) / 10)
      -unless @chapter
        %td= Chapter.find(character.home_chapter).name
      %td= User.find(character.user_id).name
      %td= link_to 'View', character_path(character), class: "btn"
      %td= link_to 'Edit', edit_character_path(character), class: "btn"
      %td= link_to 'XP', xp_track_character_path(character), class: "btn"
%br