= simple_form_for(@character) do |f|
  = f.error_notification

  .form-inputs
    /- mb_ch = Character.memberships_of_user(@user.id)
    /- mb_ch = Character.memberships_of_user(session['user_id_for_new_character']) unless @character.user_id
    /-user_id = params[:id]
    = f.hidden_field :user_id, value: @user.id
    /= f.hidden_field :user_id, :input_html => { :value => user_id }#, :disabled => true#, :collection => [params[:id].to_i], :include_blank => false #params[:id]
    = f.input :home_chapter, :label => 'Home Chapter:', :collection => Character.memberships_of_user(@user.id), :include_blank => false
    = f.input :name, :label => 'Character Name:'
    = f.input :race_id, :label => 'Race:', :collection => Race.all
    = f.input :char_class_id, :label => 'Character Class:', :collection => CharClass.all
    = f.button :submit
    %p
    = f.label :name, :label => 'Body Points'
    %td= @character.body_points
    %p
    = f.label :name, :label => 'Unspent Build:'
    %td= (@character.build_points - @character.spent_build) if @character.spent_build
    %p
    = f.label :name, :label => 'Spent Build:'
    %td= @character.spent_build
    / = f.label :name, :label => 'Experience Points:'
    / %td= @character.experience_points