.navbar
  .navbar-inner
    .container
      .btn.btn-navbar{"data-target" => ".nav-collapse.3", "data-toggle" => "collapse"}
        .icon-bar
        .icon-bar
        .icon-bar
      .brand= @character.name
      .nav-collapse.3
        .nav
          -if @user
            %li= link_to 'Back', @user
            %li= link_to 'View', user_character_path(@user, @character)
            %li= link_to 'PDF', character_path(@character, format: "pdf"), :target => '_blank'
            %li= link_to 'XP Track', user_character_xp_tracks_path(@user, @character), method: :get
          -elsif @chapter
            %li= link_to 'Back', chapter_characters_path(@chapter.id)
            %li= link_to 'View', chapter_character_path(@chapter, @character)
            %li= link_to 'PDF', character_path(@character, format: "pdf"), :target => '_blank'
            - if can? :update, @character
              %li= link_to 'Edit', edit_chapter_character_path(@chapter, @character)
            %li= link_to 'XP Track', chapter_character_xp_tracks_path(@chapter, @character), method: :get
          -else
            %li= link_to 'Back', characters_path
            %li= link_to 'View', @character
            %li= link_to 'PDF', character_path(@character, format: "pdf"), :target => '_blank'
            - if can? :update, @character
              %li= link_to 'Edit', edit_character_path(@character)
            %li= link_to 'XP Track', character_xp_tracks_path(@character), method: :get