= simple_form_for(@character) do |f|
  = f.error_notification

  - if params[:format] == "Pre-requisites are not met to purchase this skill"
    %p.error1= params[:format]
      
  .form-inputs
    = f.input :new_skill, :collection => Skill.all(:order => 'name'), :label => 'Add Skill:', :include_blank => true, :selected => ''
    = f.input :buy_skill, :collection => CharacterSkill.all_bought_skills(@character), :label => 'Purchase Skill:', :include_blank => true, :selected => ''

    = f.button :submit, :id => 'add_skills'