#character_table
  %table.table.table-striped
    %tr
      -if @user
        %th Name
        %th Race
        %th Class
        %th Level
        %th Home Chapter
      -else
        %th= sort_link @search, :name, 'Name' 
        %th= sort_link @search, :race_id, 'Race'
        %th= sort_link @search, :char_class_id, 'Class'
        %th= sort_link @search, :build_points, 'Level'
        -unless @chapter
          %th= sort_link @search, :chapter_id, 'Home Chapter:'
        %th Player
    - @characters = @user.characters unless @characters
    - @characters.each do |character|
      %tr
        -if @user
          %td= link_to character.name, user_character_path(@user, character)
        -elsif @chapter
          %td= link_to character.name, edit_chapter_character_path(character.chapter, character)
        -else
          %td= link_to character.name, edit_character_path(character)
        %td= character.race.name
        %td= character.char_class.name
        %td= ((character.build_points - 5) / 10)
        -if @user or !@chapter
          %td= character.chapter.name
        -unless @user
          %td= character.user.name