/%h1 Editing Character

= render 'character_nav_tabs'
        
.span5
  = render 'form'
  %p
  .span2
    = render 'deaths/add_death'
    = render 'deaths/buyback_death'
    = render 'deaths/add_regen_css_death'
  .span2
    = link_to 'Death Track', character_deaths_path(@character.id), class: "btn"
.span3
  = render 'character_skills/form'
.span3
  = render 'character_skills/skills_w_delete'