- if @chapter
  = render 'chapters/navbar'
- elsif @user
  = render 'users/navbar'
- else
  = render 'admins/navbar'
= render 'navbar'
        
.span5
  = render 'form'
  %p
.span3
  = render 'character_skills/form'
  = render 'deaths/add_death'
  = render 'deaths/buyback_death'
  = render 'deaths/add_regen_css_death'
  - if @chapter
    - path = chapter_character_deaths_path(@chapter.id, @character.id)
  - else
    - path = character_deaths_path(@character.id)
  = link_to 'Death Track', path, class: "btn"
.span3
  = render 'character_skills/skills_w_delete'