%h1 Editing Character

= render 'character_nav_tabs'
%p#notice= notice
        
.span5
  = render 'form'
  %p
  .span2
    = render 'deaths/form'
  .span2
    = link_to 'Death Track', character_deaths_path(@character.id), class: "btn"
.span3
  = render 'character_skills/form'
.span3
  = render 'character_skills/skills_w_delete'