%h1 Editing Character

= render 'character_nav_tabs'
%p#notice= notice
        
.span5
  = render 'form'
.span3
  = render 'deaths/form'
  = link_to 'Death Track', character_deaths_path(@character.id), class: "btn"
  %p
  = render 'skill_form'
.span3
  = render 'character_skills/skills_w_delete'