%h1 Editing Character

= render 'character_nav_tabs'

- if @character.errors.any?
  #error_explanation
    %ul 
      - @talent.errors.full_messages.each do |msg|
        %li= msg
        
.span4
  = render 'form'
.span4
  = render 'skill_form'
.span5
  = render 'character_skills/skills_w_delete'