%h1 Listing Characters

= link_to 'New Character', new_character_path, class: "btn"
%p

%table.table.users-table
  %tr
    %th
    %th
    %th Name: 
    %th Race:
    %th Build Points:  

  - @characters.each do |character|
    %tr
      %td= link_to 'Show', character, class: "btn"
      %td= link_to 'Edit', edit_character_path(character), class: "btn"
      %td= character.name
      %td= Race.find_by_id(character.race_id).name if Race.find_by_id(character.race_id)
      %td= character.build_points
%br
