-if @chapter
  = render 'chapters/chapter_navbar'
-else
  %h1 All Alliance Characters

=search_form_for(@search) do |f|
  = f.condition_fields do |c|
    = render 'layouts/condition_fields', f: c
  -if @chapter
    = f.hidden_field :chapter_id, :value => @chapter.id
  = link_to_add_fields "Add Search Condition", f, :condition
  = f.submit 'Search', class: "btn"

= will_paginate @characters
= render 'character_table'
= will_paginate @characters