%h1 Character Summary
%ul.nav.nav-tabs
  %li= link_to 'Back', characters_path, class: "btn"
  %li= link_to 'Edit', edit_character_path(@character), class: "btn"
.span4
  %table.table.user-summary-table
    %tbody
      %tr
        %td.ln Name:
        %td= @character.name
      %tr
        %td.ln Race:
        %td= Race.find_by_id(@character.race_id).name if Race.find_by_id(@character.race_id)
      %tr
        %td.ln Class:
        %td= CharClass.find_by_id(@character.char_class_id).name if CharClass.find_by_id(@character.char_class_id)
      %tr
        %td.ln Level:
        %td= ((@character.build_points - 5) / 10)
      %tr
        %td.ln XP Points:
        %td= @character.experience_points
      %tr
        %td.ln Unspent Build:
        %td= (@character.build_points - @character.spent_build)
      %tr
        %td.ln Spent Build:
        %td= @character.spent_build
      %tr
        %td.ln Total Build:
        %td= @character.build_points
  %p
.span4
  = render 'character_skills/skills'


