= render 'character_nav_tabs'

.span4
  .span2
    = link_to "PDF Character Card", character_path(@character, format: "pdf"), :target => '_blank', class: 'btn'    
    %p
  .span1
    - if can? :update, @character
      = link_to "Edit", edit_character_path(@character), class: 'btn', id: 'edit_button'
    %p
  %table.table.user-summary-table
    %tbody
      %tr
        %td.ln Name:
        %td= @character.name
      %tr
        %td.ln Race:
        %td= @character.race.name if @character.race
      %tr
        %td.ln Class:
        %td= @character.char_class.name if @character.char_class
      %tr
        %td.ln Level:
        %td= ((@character.build_points - 5) / 10)
      %tr
        %td.ln Body Points:
        %td= @character.body_points
      %tr
        %td.ln XP Points:
        %td= @character.experience_points
      %tr
        %td.ln Total Build:
        %td= @character.build_points
      %tr
        %td.ln Unspent Build:
        %td= (@character.build_points - @character.spent_build)
      %tr
        %td.ln Spent Build:
        %td= @character.spent_build
      %tr
        %td.ln Deaths:
        %td= Death.regular(@deaths).count
      %tr
        %td.ln Regen/CSS Deaths:
        %td= Death.regen_css(@deaths).count
      %tr
        %td.ln Deaths Bought Back:
        %td= Death.buyback(@deaths).count
  %p
.span4
  %br
  = render 'character_skills/skills'


