- if @chapter
  = render 'chapters/navbar'
  %h2= "Stamp Tracking for #{@chapter.name}"
- else
  = render 'users/navbar'
  %h2= "Stamp Tracking for #{Chapter.find(@chapter_id).name}"

- if @chapter
  = render 'form'

%table.table.users-table
  %tr
    %th Current Total
    %th Amount Changed
    %th Start Goblins
    %th End Goblins
    %th Reason

  - @all_goblins.reverse.each do |goblin|
    %tr
      %td= goblin.end_stamps
      %td= goblin.end_stamps - goblin.start_stamps
      %td= goblin.start_stamps
      %td= goblin.end_stamps
      %td= goblin.reason