= simple_form_for(@patron_xp) do |f|
  = f.error_notification

  .form-inputs#user_select
    = f.input :character_id, :label => 'Select Character:', :collection => @characters, :include_blank => false
    = f.input :pc, :label => 'PC or NPC', :collection => {"NPC" => 0, "PC" => 1}, :include_blank => false
    %p
    = f.button :submit, "Attend Event"

