= simple_form_for(@patron_xp) do |f|
  = f.error_notification

  .form-inputs
    = f.input :character_id
    = f.input :event_id
    = f.input :user_id
    = f.input :applied

  .form-actions
    = f.button :submit
