%h1 Listing patron_xps

%table
  %tr
    %th Character
    %th Event
    %th User
    %th Applied
    %th
    %th
    %th

  - @patron_xps.each do |patron_xp|
    %tr
      %td= patron_xp.character_id
      %td= patron_xp.event_id
      %td= patron_xp.user_id
      %td= patron_xp.applied
      %td= link_to 'Show', patron_xp
      %td= link_to 'Edit', edit_patron_xp_path(patron_xp)
      %td= link_to 'Destroy', patron_xp, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Patron xp', new_patron_xp_path
