%p#notice= notice

%p
  %b Character:
  = @patron_xp.character_id
%p
  %b Event:
  = @patron_xp.event_id
%p
  %b User:
  = @patron_xp.user_id
%p
  %b Applied:
  = @patron_xp.applied

= link_to 'Edit', edit_patron_xp_path(@patron_xp)
\|
= link_to 'Back', patron_xps_path
