= simple_form_for(@chapter) do |f|
  = f.error_notification

  .form-inputs
    = f.input :owner
    = f.input :email
    = f.input :name
    = f.input :location

  .form-actions
    = f.button :submit
