%h1 Alliance Chapters

= link_to 'New Chapter', new_chapter_path, class: "btn"
%p

%table.table.table-striped
  %tr
    %th Name
    %th Location
    %th Owner
    %th Email
    %th

  - @chapters.each do |chapter|
    %tr
      %td= link_to chapter.name, chapter
      %td= chapter.location
      %td= chapter.owner
      %td= chapter.email
      %td= link_to 'Edit', edit_chapter_path(chapter), class: 'btn btn-mini'