%h1 Basic Info

= render 'chapter_navbar'
%p#notice= notice

.span3
  %p

  %p
    %b Name:
    = @chapter.name
  %p
    %b Location:
    = @chapter.location
  %p
    %b Owner:
    = @chapter.owner
  %p
    %b Email:
    = @chapter.email
  %p
  %br
  = link_to 'New Member', new_chapter_user_path(@chapter.id), class: "btn"
  %p
  %p
    %b Number of Members:
    = @members.count
  %br
  = link_to 'New Event', new_chapter_event_path(@chapter.id), class: "btn"
  %p
  %p
    %b Number of Events:
    = @events.count

.span7
  %h3 Monthly Blanket Stuff
  %p
  %ul.nav.nav-tabs
    %li= link_to "New", @chapter, class: "btn"
    %li= link_to "Current", @chapter, class: "btn"
    %li= link_to "Older", @chapter, class: "btn"
  %p
  = render 'events/blanket_event_table'