= render 'navbar'

.span3
  %p

  %p
    %b Name:
    = @chapter.name
  %p
    %b Location:
    = @chapter.location
  %p
    %b Owner:
    = @chapter.owner
  %p
    %b Email:
    = @chapter.email
  %br
  %p
    %b Number of Characters: 
    = @characters.count
  %p
  %br
  = link_to 'New Member', new_chapter_user_path(@chapter.id), class: "btn"
  %p
  %p
    %b Number of Members:
    = @members.count
  %br
  = link_to 'New Event', new_chapter_event_path(@chapter.id), class: "btn"
  %p
  %p
    %b Number of Events:
    = @events.count

.span5
  %h3 Monthly Blankets
  %p
  %ul.nav.nav-tabs
    %li= link_to "Current", @chapter, class: "btn"
    %li= link_to "List", chapter_path(@chapter.id, tab: 'list'), class: "btn"
    %li= link_to "New", chapter_path(@chapter.id, tab: 'new'), class: "btn"
    %li= link_to "Older", chapter_path(@chapter.id, tab: 'old'), class: "btn"
  %p
  -if @blanket_list
    = render 'members/table'
  -elsif @new_blanket
    = render 'events/form'
  -elsif @old_blankets
    = render 'events/blanket_event_table'
  -else
    = render 'events/blanket_event_table'