.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .btn.btn-navbar{"data-target" => ".nav-collapse.1", "data-toggle" => "collapse"}
        .icon-bar
        .icon-bar
        .icon-bar
      .brand= link_to 'Alliance LARP', user_path(current_user.id), id: 'brand'
      .nav-collapse.1
        .nav
          - home = 'Home - ' + current_user.email
          %li= link_to home, user_path(current_user.id)
          %li= link_to 'Events', events_path
          - if can? :update, @chapter
            %li= link_to 'Chapters', chapters_path
          - if can? :delete, @chapter
            %li= link_to 'Administrate', admins_path
            

          - if user_signed_in?
            %li= link_to 'Log Out', destroy_user_session_path, method: :delete