%ul.nav.nav-tabs
  %li= link_to 'Home', root_path, class: "btn"
  %li= link_to 'Characters', characters_path, class: "btn"
  %li= link_to 'Chapters', root_path, class: "btn"
  %li= link_to 'Events', root_path, class: "btn"
  %li= link_to 'Log Out', root_path, class: "btn"