= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id, value: @user.id
    = f.input :chapter_id, :collection => Chapter.all
    = f.button :submit, "Add Membership"
    /, :text => 'Add Membership'
    /= f.input :user_id
    /= f.input :goblin_stamps

