= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id, value: @user.id
    -unless @member.id
      = f.input :chapter_id, :collection => Chapter.all
    -if @member.id
      = f.input :character_id, :collection => @user.characters.inject([]) { |arr,c| arr << c if c.chapter_id == @member.chapter_id; arr }, :label => 'Character to Blanket:'
      = f.input :blanket_list
    -else
      = f.hidden_field :blanket_list
    %br
    -if @chapter
      = f.button :submit, "Modify Blanket Settings"
    -else
      = f.button :submit, "Add Chapter Association"
