= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :user_id, value: @user.id
    -unless @member.id
      = f.input :chapter_id, :collection => Chapter.all
    -if @member.id
      = f.input :character_id, :collection => @user.characters.inject([]) { |arr,c| arr << c if c.home_chapter == @member.chapter_id; arr }, :label => 'Character to Blanket:'
      = f.input :blanket_list
    -else
      = f.hidden_field :blanket_list
    = f.button :submit, "Add/Modify Membership"
    /, :text => 'Add Membership'
    /= f.input :user_id
    /= f.input :goblin_stamps

