%table.table.xp-table
  %tr
    %th Edit
    %th Name
    %th Character
    %th Blanket
    %th Goblins

  - @members.reverse.each do |member|
    - character = Character.find(member.character_id) if member.character_id
    %tr
      %td= link_to 'Edit', edit_user_member_path(member.user_id,member.id), class: "btn"
      %td= member.user.name
      -if character
        %td= character.name
      -else
        %td
      -if member.blanket_list == true
        %td= 'Yes'
      -else
        %td= 'No'
      %td= member.goblin_stamps
