%table.table.table-striped
  %tr
    -if @user
      %th Chapter
    -else
      %th Name
      %th Character
      %th Blanket
    %th Stamps
    - if @user
      %th Member

  - @members.reverse.each do |member|
    - character = member.character if member.character_id
    %tr
      -if @user
        %td= link_to member.chapter.name, chapter_user_events_path(member.chapter.id,@user.id)
      -else
        %td= link_to member.user.name, edit_user_member_path(member.user_id,member.id)
        -if character
          %td= character.name
        -else
          %td
        /%td= best_in_place member, :member, type: :checkbox, collection: %w[No Yes]
        %td= member.blanket_list ? 'Yes' : 'No'
      -if @user
        %td= link_to "Total: #{member.goblin_stamps}", user_stamp_tracks_path(member.user.id, tab: member.chapter.id)
        %td= member.member ? 'Yes' : 'No'
      - else
        %td= member.goblin_stamps